body {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: white;
    background-color: #7A0027;
}

h1 {
    font-family: 'Sour Gummy', 'Nunito', sans-serif;
    font-weight: 900;
}  

.parent {
    display: flex;
    justify-content: center;
}

.img {
    height: 70vh;
    width: fit-content;
    overflow: hidden;
    border: 4px solid white;
    border-radius: 10px;
}

img {
    height: 100%;
    width: auto;
    object-fit: cover;
    transform-origin: center;
    transition: transform 0.6s ease;
}


a {
    color: white;
}